@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
html,
button {
    font-family: 'Roboto Mono', monospace;
}

button:focus {
    outline: none;
}

.center {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #252525;
    color: lightgrey;
}

.currency-display-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.main-currency-div {
    text-align: center;
    width: 50%
}

.prestige-currency-div {
    width: 25%;
    text-align: center;
}


/* Generators stuff */

#Generators {
    width: 100%;
}

#Generators th,
#Generators td {
    width: 2vw;
    max-height: 300px;
    height: flex;
}

table tbody tr {
    height: flex;
}

table tbody tr th,
table tbody tr td {
    border-spacing: 0;
    font-size: 24px;
}

#Generators th {
    font-weight: normal;
}

th,
td {
    text-align: left;
    padding: 5px;
}


/* Waifu Stuff */

#getWaifu {
    margin: 10px;
}

.dere-container {
    height: flex;
    width: 20%;
}


/* Button stuff */

.buyGenerator {
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(250, 157, 172);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.buyGenerator:hover {
    background-color: white;
}

.buyGenerator:active {
    background-color: lightgray;
}

.buyGenerator:disabled {
    background: gray;
}

.stdButton {
    max-width: 350px;
    width: flex;
    height: flex;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(250, 157, 172);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.small {
    font-size: 14px;
    padding: 8px;
}

.stdButton:hover {
    background-color: white;
}

.stdButton:active {
    background-color: lightgray;
}

.stdButton:disabled {
    background-color: gray;
}

#uwuReset {
    width: flex;
    height: flex;
    font-size: 20px;
    padding: 10px;
    border: 3px solid #2fe92f;
    background-color: rgb(205, 253, 205);
    color: #2fe92f;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#uwuReset:hover {
    background-color: #2fe92f;
    color: rgb(205, 253, 205);
}

#uwuReset:disabled {
    background-color: gray;
    color: #2fe92f;
}

.waifuUpgrade {
    width: 120px;
    height: 90px;
    margin: 5px;
}

.tsundereUpgrade {
    background-color: #f3532b;
}

.dandereUpgrade {
    background-color: #2bbaf3;
}

.yandereUpgrade {
    background-color: #992bf3;
}


/* Tab buttons */

.owoTabButton {
    width: flex;
    height: flex;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    background-color: pink;
    color: rgb(236, 125, 203);
    border: 4px solid rgb(236, 125, 203);
    border-radius: 8px;
    transition-duration: 0.2s;
    vertical-align: middle;
}

.owoTabButton:hover {
    color: pink;
    background-color: rgb(236, 125, 203);
}

.uwuTabButton {
    width: flex;
    height: flex;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #2fe92f;
    background-color: rgb(205, 253, 205);
    color: #2fe92f;
    border-radius: 8px;
    transition-duration: 0.2s;
    vertical-align: middle;
}

.uwuTabButton:hover {
    background-color: #2fe92f;
    color: rgb(205, 253, 205);
}


/* Text stuff */

#owo {
    font-size: 32px;
    color: hotpink;
    padding: 10px;
}


/* #weebEssence,
#moeMult,
#upgradeMult,
#waifuAmount {
    font-size: 18px;
    margin: 5px;
} */

.generalCurrencyText {
    font-size: 18px;
    margin: 5px;
}

#weebEssenceAmount,
#weebEssenceBonus {
    color: rgb(171, 18, 209);
    font-weight: bold;
    font-size: 20px;
}

#moeAmount,
#moeBonus,
#upgradeMultiplier {
    color: #2f5be9;
    font-weight: bold;
    font-size: 20px;
}

#uwuAmount {
    color: #2fe92f;
    font-weight: bold;
    text-shadow: 0px 0px 5px #1a811a;
    font-size: 20px;
}

#tsundereAmount {
    color: #f3532b;
    font-weight: bold;
    font-size: 18px;
}

#dandereAmount {
    color: #2bbaf3;
    font-weight: bold;
    font-size: 18px;
}

#yandereAmount {
    color: #992bf3;
    font-weight: bold;
    font-size: 18px;
}

#totalWaifuAmount,
#availableWaifuAmount {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 20px;
}

#uwuAmountDisplayText {
    font-size: 18px;
}